{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('view_pdf', filename=filename, page=start_page) }}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Back</a>
    <section class="section">
        <div class="container">
            {% for text in texts %}
                {% set page_num = start_page + loop.index0 %}
                <div style="margin-bottom: 1rem;">
                    <a href="/static/page_preview_{{ filename }}_{{ page_num }}.png" 
                       data-lightbox="page-images" 
                       data-title="Page {{ page_num }} of {{ filename }}"
                       class="button is-small is-info is-light">
                       PDF of page {{ page_num }}
                    </a>
                </div>
                <div class="box">
                    {{ text|safe }}
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('view_text', filename=filename, start=start_page, end=end_page + 1) }}" class="btn btn-primary">More</a>
    </section>
    <script>
        window.onload = function() {
            const boxes = document.querySelectorAll('.box');
            const lastBox = boxes[boxes.length - 1];
            if (lastBox) {
                lastBox.scrollIntoView({ behavior: 'smooth' });
            }
        };
    </script>
{% endblock %}
