{% extends "base.html" %}
{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">Upload PDF</h1>
      <!-- Form in a column -->
      <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
        <div class="field">
          <div class="control">
            <input class="input" type="file" name="file">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Upload</button>
          </div>
        </div>
      </form>
      <!-- File list -->
      <h2 class="title">Uploaded Files</h2>
      <div class="content">
          <ul>
            {% for filename in uploaded_files %}
              <li><a href="{{ url_for('view_pdf', filename=filename, page=1) }}">{{ filename }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </section>
{% endblock %}
