{% extends "base.html" %}
{% block content %}

<div class="nav-group buttons" style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        <a class="button is-info" href="{{ url_for('upload') }}">Back</a>
        <select class="select is-info mr-2" onchange="window.location.href = this.value;">
            {% for i in range(1, total_pages + 1) %}
                <option value="{{ url_for('view_pdf', filename=filename, page=i) }}" {% if page == i %}selected{% endif %}>Page {{ i }}</option>
            {% endfor %}
        </select>
        {% if page > 1 %}
            <a class="button is-info" href="{{ url_for('view_pdf', filename=filename, page=page-1) }}">⬅️ Prev</a>
        {% else %}
            <button class="button is-info" disabled>Prev</button>
        {% endif %}
        {% if page < total_pages %}
            <a class="button is-info" href="{{ url_for('view_pdf', filename=filename, page=page+1) }}">Next ➡️</a>
        {% else %}
            <button class="button is-info" disabled>Next</button>
        {% endif %}
        <a class="button is-info" href="{{ url_for('view_text', filename=filename, start=page) }}" id="extractButton">View Text</a>
        <a class="button is-info" id="editTextButton" href="{{ url_for('edit_text', filename=filename, page=page) }}" style="display: none;">Edit Text</a>
        <a class="button is-info" href="{{ url_for('export_pdf', filename=filename, default_page=page) }}">Export</a>
    </div>
</div>

<div id="image-view">
    <img class="pdf-image" src="{{ image_url }}" style="max-width: 100%; width: 100%; height: auto; border: 1px solid #ccc;">
</div>

<div id="text-view" class="text-column" style="display: none; font-size: 125%;">
    {{ text|safe }}
</div>

<!-- Progress Bar -->
<div id="progress-container" style="margin-top: 10px; display: none;">
    <progress id="export-progress" value="0" max="100"></progress>
    <span id="progress-percentage">0%</span>
</div>

<div class="nav-group buttons" style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        {% if page > 1 %}
            <a class="button is-info" href="{{ url_for('view_pdf', filename=filename, page=page-1) }}">⬅️ Prev</a>
        {% endif %}
        {% if page < total_pages %}
            <a class="button is-info" href="{{ url_for('view_pdf', filename=filename, page=page+1) }}">Next ➡️</a>
        {% endif %}
    </div>
</div>
{% endblock %}
